.card {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.116);
  border-radius: 10px;
  border: none;
}

.section-wraper {
  padding: 50px 0;
}

.inner-title {
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: -1px;
  line-height: 50px;
  color: #839097;
}

@media screen and (max-width: 768px) {
  .inner-title {
    font-size: 30px;
    line-height: 32px;
  }
}

.inner-desc {
  letter-spacing: 0.2px;
  text-align: center;
  color: #adadad;
  font-size: 18px;
}

.color-primary {
  color: #018fd7 !important;
}

.color-blue {
  color: #018fd7 !important;
}

.color-secondary {
  color: #95529f !important;
}

.color-gray {
  color: #9fa6aa !important;
}

.border-light {
  border: 0.5px solid #e4e4e4 !important;
}

.chevron-right {
  height: 100% !important;
  width: 100% !important;
  background-image: url(../images/icones/chevron-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.chevron-left {
  height: 100% !important;
  width: 100% !important;
  background-image: url(../images/icones/chevron-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.img-70 {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
}

main {
  min-height: 50vh;
}

a:visited, a:link, a:hover, a:active {
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: lighter;
  color: #9fa6aa;
}

ul li {
  display: block;
  font-size: 13px;
  padding: 2px 0;
}

button, a[role="button"] {
  cursor: pointer !important;
}

.card-header {
  padding-top: 20px;
  background: none;
  border: none;
  color: #95529f;
}

@font-face {
  font-family: "Geon Regular";
  src: url("../fonts/GeonRegular.eot");
  src: url("../fonts/GeonRegular.otf") format("opentype");
}

@font-face {
  font-family: "Geon Light";
  src: url("../fonts/GeonLight.eot");
  src: url("../fonts/GeonLight.otf") format("opentype");
}

@font-face {
  font-family: "Geon Bold";
  src: url("../fonts/GeonBold.eot");
  src: url("../fonts/GeonBold.otf") format("opentype");
}

@font-face {
  font-family: "Geon Black";
  src: url("../fonts/GeonBlack.eot");
  src: url("../fonts/GeonBlack.otf") format("opentype");
}

@font-face {
  font-family: "Geon Heavy";
  src: url("../fonts/GeonHeavy.eot");
  src: url("../fonts/GeonHeavy.otf") format("opentype");
}

@font-face {
  font-family: "Geon Medium";
  src: url("../fonts/GeonMedium.eot");
  src: url("../fonts/GeonMedium.otf") format("opentype");
}

@font-face {
  font-family: "Geon Thin";
  src: url("../fonts/GeonThin.eot");
  src: url("../fonts/GeonThin.otf") format("opentype");
}

@font-face {
  font-family: "Geon Italic";
  src: url("../fonts/GeonItalic.eot");
  src: url("../fonts/GeonItalic.otf") format("opentype");
}

.owl-carousel.nav-center .owl-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .owl-carousel.nav-center .owl-nav {
    top: 30%;
  }
}

.owl-carousel.nav-center .owl-nav button {
  position: absolute;
  color: #018fd7 !important;
  font-size: 40px !important;
  width: 90px;
  height: 70px;
  opacity: 0.8;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel.nav-center .owl-nav button:hover {
  opacity: 1;
}

.owl-carousel.nav-center .owl-nav button:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  .owl-carousel.nav-center .owl-nav button {
    top: 5%;
  }
}

@media screen and (max-width: 576px) {
  .owl-carousel.nav-center .owl-nav button {
    width: 50px;
    height: 30px;
  }
}

.owl-carousel.nav-center .owl-nav .owl-prev {
  left: -13%;
}

.owl-carousel.nav-center .owl-nav .owl-next {
  right: -13%;
}

@media screen and (max-width: 768px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -17%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -17%;
  }
}

@media screen and (max-width: 576px) {
  .owl-carousel.nav-center .owl-nav {
    height: auto;
  }
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -4%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -4%;
  }
}

.owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 12px;
  padding: 8px 40px;
  border: none;
  outline: none;
  font-size: 14px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.062);
}

.btn-primary {
  background-color: #018fd7;
  color: #fff !important;
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #016da4 !important;
}

.btn-secondary, .btn.active, .btn:active, .btn:focus {
  background-color: #95529f;
  color: #fff !important;
}

.btn-secondary:hover, .btn.active:hover, .btn:active:hover, .btn:focus:hover {
  background-color: #75417d;
}

.btn.active, .btn:active, .btn:focus {
  box-shadow: none !important;
}

.btn-dark {
  background-color: #839097;
}

.btn-dark.active, .btn-dark:active, .btn-dark:focus, .btn-dark:hover {
  background-color: #5a6368 !important;
}

.btn-outline-primary {
  border: 1.3px solid #018fd7;
  color: #018fd7 !important;
}

.btn-outline-primary:hover {
  background-color: #018fd7;
  color: #fff !important;
  border-color: #018fd7;
}

.btn.btn-sm {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.btn-icon {
  padding: 5px;
  background: none;
  border: none;
  color: #acacac;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-icon .icon {
  font-size: 19px;
}

.btn-icon:hover {
  color: #7c7c7c;
}

.btn-icon.active, .btn-icon:active, .btn-icon:focus {
  border: none;
  outline: none;
}

.form-group label {
  font-size: 14px;
  color: #839097;
  text-transform: uppercase;
}

.form-control {
  font-size: 15px;
  color: #839097;
  border-radius: 12px;
  border: 1px solid #839097;
}

.form-control:focus {
  border: 1px solid #839097;
  box-shadow: 0 1px 1px rgba(214, 20, 117, 0.075) inset, 0 0 8px rgba(231, 101, 131, 0.349);
  background-color: rgba(0, 0, 0, 0.034);
  outline: 0 none;
}

.form-control.form-shadow {
  height: 40px;
  padding-left: 30px;
  border: none;
  border-radius: 9px;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.116);
  border-radius: 10px;
}

.checkbox--custom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox--custom__label {
  font-size: 12px !important;
  line-height: 14px;
  display: inline-block;
  margin-left: 8px;
  padding-top: 10px;
}

.checkbox--custom__mask {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #839097;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.checkbox--custom__mask.circle {
  border: 2px solid #d6d6d6;
  border-radius: 50%;
}

.checkbox--custom__input {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.checkbox--custom__input:hover ~ .checkbox--custom__mask {
  background-color: #cecece;
}

.checkbox--custom__input:checked ~ .checkbox--custom__mask {
  background-color: #018fd7;
}

.checkbox--custom__input:checked ~ .checkbox--custom__mask.circle {
  background-color: transparent;
  position: relative;
  border: 2px solid #949494;
}

.checkbox--custom__input:checked ~ .checkbox--custom__mask.circle:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #7c7c7c;
}

.checkbox--custom__input:checked ~ label {
  font-weight: bold;
}

.select-light {
  width: 100%;
  position: relative;
  font-size: 15px;
}

.select-light select {
  cursor: pointer !important;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #a6acad !important;
  font-size: 14px;
  -webkit-appearance: none;
  appearance: none;
}

.select-light:after {
  content: '\f0a9';
  font-family: FontAwesome;
  position: absolute;
  right: 5px;
  top: 1px;
  pointer-events: none;
}

.radio-pagamento {
  cursor: pointer;
}

.radio-pagamento input {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.radio-pagamento .checkmark {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 35px;
  padding: 5px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.radio-pagamento .checkmark img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.radio-pagamento input:checked ~ .checkmark {
  border: 1px solid #018fd7;
}

.mainfooter {
  width: 100%;
  height: auto;
  padding: 25px 0;
  background-color: #95529f;
}

.mainfooter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .mainfooter .container {
    flex-direction: column;
    justify-content: center;
  }
}

.mainfooter__brand {
  display: inline-block;
}

.mainfooter__brand img {
  height: 50px;
  margin-right: 10px;
}

.mainfooter__brand p {
  color: white;
  font-size: 12px;
  letter-spacing: 0.4px;
  display: inline-block;
  font-weight: lighter;
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .mainfooter__brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.mainfooter__nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mainfooter__nav__list__item {
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
}

@media screen and (max-width: 992px) {
  .mainfooter__nav__list__item {
    display: block;
    text-align: center;
    padding: 7px 0;
  }
}

.mainfooter__nav__list__item a {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mainfooter__nav__list__item a:hover {
  color: #e7e7e7;
}

.mainfooter__nav__list__item:not(:first-child) {
  margin-left: 5px;
}

@media screen and (max-width: 992px) {
  .mainfooter__nav {
    margin-bottom: 20px;
    order: -1;
  }
}

.main-header {
  width: 100vw;
  background-color: #018fd7;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.123);
}

@media screen and (max-width: 992px) {
  .main-header {
    height: auto;
  }
}

.main-header .container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .main-header .container {
    justify-content: center;
  }
}

.main-header__brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .main-header__brand {
    flex-direction: column;
    padding: 10px 0;
  }
}

.main-header__brand__img {
  object-fit: contain;
  height: 80px;
  width: 280px;
  padding-right: 35px;
  border-right: 1px solid rgba(255, 255, 255, 0.863);
}

@media screen and (max-width: 768px) {
  .main-header__brand__img {
    border-right: none;
    position: relative;
    left: -23px;
    height: 60px;
    width: 230px;
  }
}

.main-header__brand__text {
  padding-left: 35px;
  font-family: 'Geon Bold';
  font-size: 27px;
  text-transform: uppercase;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .main-header__brand__text {
    font-size: 20px;
    border-right: none;
    position: relative;
    right: -20px;
    top: -15px;
  }
}

.main-header__tools {
  display: flex;
  height: 120px;
}

@media screen and (max-width: 992px) {
  .main-header__tools {
    display: none;
  }
}

.main-header__tools__portal {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  padding: 10px 20px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-header__tools__portal__label {
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: 'Geon Bold';
}

.main-header__tools__portal__link {
  font-size: 14px;
  font-family: 'Geon Medium';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-header__tools__portal__link:hover {
  color: #95529f;
}

.main-header__tools__search {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-header__tools__search__form {
  max-width: 0;
  overflow: hidden;
  padding-top: 50px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main-header__tools__search__form input {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  border: none;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.363);
  color: #fff;
  padding-bottom: 6px;
  padding-right: 50px;
  font-size: 15px;
  transition: inherit;
}

.main-header__tools__search__form input::placeholder {
  color: #fff;
}

.main-header__tools__search__lupa {
  margin: auto;
  font-size: 43px;
  background-color: transparent;
  border: none;
  padding: 0px 40px;
  color: #fff;
  position: relative;
  top: -50px;
  right: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-header__tools__search__lupa:hover {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.089);
  outline: none;
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}

.main-header__tools__search__lupa:focus {
  outline: none;
}

.main-header__tools__search:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-header__tools__search:hover .main-header__tools__search__form {
  max-width: 600px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-header__tools__search:hover .main-header__tools__search__lupa {
  font-size: 23px;
  right: -170px;
  top: -40px;
}

.main-header__tools.active .main-header__tools__portal {
  opacity: 0;
}

.main-header__portal-mobile {
  display: none;
  background-color: #361747;
  font-family: 'Geon Bold';
  padding-left: 40px;
}

.main-header__portal-mobile__label {
  font-size: 16px;
  padding: 15px 0;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  padding: 10px 0;
}

.main-header__portal-mobile__link {
  display: block;
  background-color: #220930;
  padding: 18px 50px;
  font-size: 15px;
}

@media screen and (max-width: 992px) {
  .main-header__portal-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-header__tools-mobile {
  background-color: #34a5df;
  display: none;
  justify-content: space-between;
}

.main-header__tools-mobile__search {
  padding: 20px 0;
  width: 70%;
}

.main-header__tools-mobile__search input {
  height: 35px;
  width: 100%;
  max-width: 400px;
  padding: 0 10px;
  font-family: 'Geon Thin';
  font-size: 14px;
  letter-spacing: 0.2px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
}

.main-header__tools-mobile__search input::placeholder {
  color: #fff;
}

.main-header__tools-mobile__toggler {
  width: 28%;
  max-width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header__tools-mobile__toggler__button {
  background: none;
  border: none;
  font-size: 40px;
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
  padding-left: 20px;
}

.main-header__tools-mobile__toggler__button div {
  width: 60%;
  height: 3.5px;
  background-color: #fff;
}

.main-header__tools-mobile__toggler__button div:not(:last-child) {
  margin-bottom: 10px;
}

.main-header__tools-mobile__toggler__button:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  .main-header__tools-mobile {
    display: flex;
  }
}

.main-nav {
  width: 100vw;
  height: auto;
  background-color: #95529f;
  padding: 30px 0 35px;
}

@media screen and (max-width: 992px) {
  .main-nav {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .main-nav.active {
    max-height: 2000px;
    padding: 30px 0;
  }
}

.main-nav__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 992px) {
  .main-nav__list {
    flex-direction: column;
  }
}

.main-nav__list__item {
  position: relative;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-nav__list__item:hover {
  text-shadow: 0.5px 0.5px 0.25px rgba(255, 255, 255, 0.616);
}

@media screen and (min-width: 992px) {
  .main-nav__list__item:after {
    content: '';
    position: absolute;
    height: 32px;
    width: 90%;
    background-color: #361747;
    opacity: 0;
    left: 48%;
    transform: translateX(-50%);
    bottom: -35px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .main-nav__list__item.active {
    font-family: 'Geon Black';
  }
  .main-nav__list__item.active:after {
    opacity: .3;
  }
  .main-nav__list__item:hover:after {
    opacity: .15;
  }
}

@media screen and (max-width: 992px) {
  .main-nav__list__item {
    padding: 15px;
    text-align: center;
  }
  .main-nav__list__item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.336);
  }
}

.main-nav__list__item a {
  font-weight: inherit;
  color: inherit;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table-light {
  width: 99%;
  padding: 30px 0;
}

.table-light thead th {
  color: #018fd7;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 15px;
}

.table-light tbody img {
  border-radius: 4px;
  width: 150px;
  height: 120px;
  margin-right: 25px;
  object-fit: cover;
}

.table-light tbody tr {
  border: 0.5px solid #F0F0F7;
}

.table-light tbody td {
  padding: 20px 30px;
  font-size: 14px;
  color: #9fa6aa;
  border-right: 0.5px solid #F0F0F7;
  border-radius: 5px;
  font-weight: lighter;
}

.home-slider {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.home-slider__item {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 500px;
  background-size: cover;
}

.home-slider__item__caption {
  background-color: #361747;
  opacity: .9;
  width: 100%;
  padding: 30px 0;
}

.home-slider__item__caption__title {
  font-family: 'Geon Heavy';
  font-size: 41px;
  margin-bottom: 0;
}

.home-slider__item__caption__subtitle {
  font-family: 'Geon Light';
  font-size: 26px;
}

@media screen and (min-width: 992px) {
  .home-slider .owl-dots {
    position: absolute;
    right: 210px;
    bottom: 37px;
  }
  .home-slider .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    margin-right: 6px;
  }
  .home-slider .owl-dots .owl-dot.active, .home-slider .owl-dots .owl-dot:hover {
    background-color: #fff;
  }
}

body {
  margin: 0;
  background-color: #fcfcfc;
  font-family: 'Geon Regular', sans-serif;
  color: #fff;
  overflow-x: hidden;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*# sourceMappingURL=maps/style.css.map */
