<footer class="mainfooter">
    <div class="container">

        <div class="mainfooter__brand">
            <img src="../images/brands/mahilla.png" alt="Mahilla logo branco">
                <p>
                    Mahilla Terapias 2019. Todos os direitos reservados.</p>
            </div>

            <div class="mainfooter__nav">
                <ul class="mainfooter__nav__list">
                    <li class="mainfooter__nav__list__item">
                        <a href="/">Terapias</a>
                    </li>
                    <li class="mainfooter__nav__list__item">
                        <a href="/">Massagem</a>
                    </li>
                    <li class="mainfooter__nav__list__item">

                        <a href="/">Estética</a>
                    </li>
                    <li class="mainfooter__nav__list__item">
                        <a href="/">Cursos</a>
                    </li>
                    <li class="mainfooter__nav__list__item">
                        <a href="/">Promoções</a>
                    </li>
                    <li class="mainfooter__nav__list__item">
                        <a href="/">Facilitadores</a>
                    </li>
                    <li class="mainfooter__nav__list__item">
                        <a href="/">Quem Somos</a>
                    </li>
                    <li class="mainfooter__nav__list__item">
                        <a href="/">Fale conosco</a>
                    </li>
                </ul>
            </div>

        </div>
    </footer>