<footer class="main-footer">
    <div class="main-footer__social">
        <div class="container">
            <div class="main-footer__social__sirio">
                <img src="../images/brands/sirio-blue.png" alt="Logo Sirio Libanês EAD">
            </div>
            <div class="main-footer__social__abed">
                    <img src="../images/brands/abed.png" alt="Logo abed">
            </div>
            <div class="main-footer__social__medias">
                <a href="#" class="main-footer__social__medias__item">
                    <i class="fab fa-linkedin"></i>
                </a>

                <a href="#" class="main-footer__social__medias__item">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a href="#" class="main-footer__social__medias__item">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="#" class="main-footer__social__medias__item">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="main-footer__copyright">
        <div class="container">
            Sírio-Libanês Ensino e Pesquisa © Hospital Sírio-Libanês 2019. Todos os direitos reservados.
        </div>
    </div>
</footer>