<header class="main-header">
    <div class="main-header__portal-mobile">
        <h4 class="main-header__portal-mobile__label">Portal do Aluno</h4>
        <a href="#" class="main-header__portal-mobile__link"><i class="fa fa-chevron-right mr-1 d-inline"
                aria-hidden="true"></i>Acesse</a>
    </div>

    <div class="container">
        <div class="main-header__brand">
            <a href="/"><img src="../images/brands/sirio.png" class="main-header__brand__img" /></a>
            <h3 class="main-header__brand__text">Educação a Distância</h3>
        </div>
        <div class="main-header__tools">
            <div class="main-header__tools__portal">
                <h4 class="main-header__tools__portal__label">Portal do aluno</h4>
                <a href="#" class="main-header__tools__portal__link"><i class="fa fa-chevron-right mr-1"
                        aria-hidden="true"></i>Acesse</a>
            </div>
            <div class="main-header__tools__search">
                <form action="">
                    <div class="main-header__tools__search__form">
                        <input type="text" name="searchText" placeholder="Digite aqui">
                    </div>
                    <button type="submit" id="main-header__searchBtn" class="main-header__tools__search__lupa">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="main-header__tools-mobile">
        <div class="container">
            <div class="main-header__tools-mobile__search">
                <input type="text" placeholder="Busca">
            </div>
            <div class="main-header__tools-mobile__toggler">
                <button id="navbarToggler" class="main-header__tools-mobile__toggler__button">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
            </div>
        </div>
    </div>
    <nav id="main-nav" class="main-nav">
        <div class="container">
            <ul class="main-nav__list">
                <li class="main-nav__list__item active">
                    <a href="#">Home</a>
                </li>

                <li class="main-nav__list__item">
                    <a href="#">Sobre o HSL</a>
                </li>

                <li class="main-nav__list__item">
                    <a href="#">Ensino e Pesquisa</a>
                </li>

                <li class="main-nav__list__item">
                    <a href="#">Cursos EAD</a>
                </li>

                <li class="main-nav__list__item">
                    <a href="#">Metodologia EAD</a>
                </li>

                <li class="main-nav__list__item">
                    <a href="#">Notícias</a>
                </li>

                <li class="main-nav__list__item">
                    <a href="#">Atendimento</a>
                </li>
            </ul>
        </div>
    </nav>
</header>