<nav class="navbar">
    <div class="container">
        <div class="navbar__brand">
            <a href="/">
                <img src="../images/brands/mahilla.png" alt="Logo Mahilla"></a>
            </div>

            <div class="navbar__links">
                <a href="#" class="navbar__links__item">
                    <i class="icon fa fa-user" aria-hidden="true"></i>
                    <span class="navbar__links__item__label">Entrar</span>
                </a>
                <a href="#" class="navbar__links__item">
                    <i class="icon fas fa-heart" aria-hidden="true"></i>
                    <span class="navbar__links__item__label">
                        Lista de desejos</span>
                </a>
                <a href="#" class="navbar__links__item chart">
                    <i class="icon fa fa-shopping-bag" aria-hidden="true"></i>
                    <span class="chart__number">
                        2
                    </span>
                </a>
                <button class="navbar__links__item headerlinks-toggler btn-icon color-secondary"><i class="icon fa fa-bars"></i></button>
            </div>
        </div>
    </nav>