.home-slider {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;

    &__item {
        display: flex;
        align-items: flex-end;
        width: 100vw;
        height: 500px;
        background-size: cover;
        background-position: center center;

        &__caption {
            background-color: $color-secondary--darken;
            opacity: .85;
            width: 100%;
            padding: 30px 0;

            @media screen and (max-width: $bp-MD){
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                opacity: 1;
            }
            

            &__title {
                font-family: 'Geon Heavy';
                font-size: 41px;
                margin-bottom: 0;
            }


            &__subtitle {
                font-family: 'Geon Light';
                font-size: 26px;

                @media screen and (max-width: $bp-MD){
                    max-width: 70%;
                    display: inline-block;
                }
            }
        }
    }

    .owl-nav {
        @media screen and (min-width: $bp-LG) {
            top: 38% !important;
        }
    }
    
    .owl-dots {
        position: absolute;
        right: 210px;
        bottom: 37px;

        .owl-dot {
            width: 12px;
            height: 12px;
            border: 1px solid #fff;
            margin-right: 6px;

            &.active,
            &:hover {
                background-color: #fff;
            }

        }
        @media screen and (max-width: $bp-MD) {
            bottom: 200px;
            right: 50%;
            transform: translateX(50%);
        }
    }
}