.proximos-cursos {
    position: relative;
    max-height: 0;
    overflow: hidden;
    background-color: #361747;
    @include transition();

    &.active{
        max-height: 2000px;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        height: 1300px;
        width: 700px;
        right: 0;
        top: 10%;
        background-image: url("../images/backgrounds/dots-right.png");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: .8;
        pointer-events: none;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        height: 700px;
        width: 500px;
        left: 0;
        top: 4%;
        background-image: url("../images/backgrounds/dots-left.png");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: .7;
        pointer-events: none;
    }

    &__cursos {
        display: flex;
        min-height: 430px;
        @media screen and (max-width: $bp-LG) {
            flex-direction: column;
        }

        &__banner {
            width: 30%;
            background-image: url("../images/banners/proximoscursos.png");
            background-size: cover;
            background-position: center center;
            @media screen and (max-width: $bp-LG) {
                width: 100%;
                height: 250px;
                background-position: center bottom;
            }
        }

        &__list {
            width: 70%;
            padding: 40px 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media screen and (max-width: $bp-LG) {
                width: 100%;
                height: auto;
            }

            ul {
                li {
                    color: #fff;
                    font-family: 'Geon Medium';
                    font-size: 21px;
                    &:not(:last-child) {
                        margin-bottom: 13px;
                    }
                    @media screen and (max-width: $bp-LG) {
                        text-align: center;
                    }
                }
            }
        }
    }

    &__contact {
        background-color: $color-primary;
        padding: 40px 0;

        &__title {
            font-family: 'Geon Bold';
            font-size: 30px;
            margin-bottom: 10px;
        }

        &__subtitle {
            font-family: 'Geon Regular';
            font-size: 23px;
        }

        &__form {
            padding-top: 20px;

            label {
                font-family: 'Geon Light';
                text-transform: none;
                font-size: 18px;
                color: #fff;
                margin-bottom: 2px;
            }

            .form-control {
                border-radius: 0;
                border: 1px solid black;
                background-color: #fff;
                height: 45px;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}
