@font-face {font-family: "Geon Regular";
    src: url("../fonts/GeonRegular.eot");
    src:  url("../fonts/GeonRegular.otf") format("opentype"),
}

@font-face {font-family: "Geon Light";
    src: url("../fonts/GeonLight.eot");
    src: url("../fonts/GeonLight.otf") format("opentype");
  
}

@font-face {font-family: "Geon Bold";
    src: url("../fonts/GeonBold.eot");
    src: url("../fonts/GeonBold.otf") format("opentype");
}

@font-face {font-family: "Geon Medium";
    src: url("../fonts/GeonMedium.eot");
    src: url("../fonts/GeonMedium.otf") format("opentype");
  
}


@font-face {font-family: "Geon Thin";
    src: url("../fonts/GeonThin.eot");
    src:  url("../fonts/GeonThin.otf") format("opentype"),
}

@font-face {font-family: "Geon Italic";
    src: url("../fonts/GeonItalic.eot");
    src: url("../fonts/GeonItalic.otf") format("opentype");
}
