.owl-carousel{
    &.nav-center{
        .owl-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: auto;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            @media screen and(max-width: $bp-LG) {
                top: 30%;
            }

            button {
                position: absolute;
                color: $color-primary !important;
                font-size: 40px !important;
                width: 110px;
                height: 90px;
                opacity: 0.8;
                text-align: center;
                @include transition();

                &:hover {
                    opacity: 1;
                }
                &:focus {
                    outline: none;
                }

                @media screen and(max-width: $bp-LG) {
                    top: 5%;
                }

                @media screen and(max-width: $bp-SM) {
                    width: 60px;
                    height: 50px;
                }
            }

            .owl-prev {
                left: 3%;
            }

            .owl-next {
                right: 3%;
            }

            @media screen and(max-width: $bp-SM){
                height: auto;
        
            }
        }
    }

    .item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}