.section-wraper {
    padding: 50px 0;
}

.inner-title {
    @include title();
    color: #839097;

    @media screen and(max-width: $bp-MD){
        font-size: 30px;
        line-height: 32px;
    }
}

.inner-desc {
    letter-spacing: 0.2px;
    text-align: center;
    color: rgb(173, 173, 173);
    font-size: 18px;
}

.color-primary {
    color: $color-primary !important;
}

.color-blue {
    color: $color-blue !important;
}

.color-secondary {
    color: $color-secondary !important;
}

.color-gray {
    color: $color-gray !important;
}

.border-light {
    border: .5px solid rgb(228, 228, 228) !important;
}

.chevron-right {
    height: 100% !important;
    width: 100% !important;
    background-image: url(/images/ico/chevron-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.chevron-left {
    height: 100% !important;
    width: 100% !important;
    background-image: url(/images/ico/chevron-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.img-70{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.circle{
    border-radius: 50%;
}
