.section-wraper {
    padding: 50px 0;
}

.color-primary {
    color: $color-primary !important;
}

.color-blue {
    color: $color-blue !important;
}

.color-secondary {
    color: $color-secondary !important;
}

.color-gray {
    color: $color-gray !important;
}

.color-dark {
    color: #361747 !important;
}

.text-black {
    font-family: 'Geon Black' !important;
}

.border-light {
    border: .5px solid rgb(228, 228, 228) !important;
}

.chevron-right {
    height: 100% !important;
    width: 100% !important;
    background-image: url(../images/icones/chevron-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.chevron-left {
    height: 100% !important;
    width: 100% !important;
    background-image: url(../images/icones/chevron-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-clock {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../images/icones/clock.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.icon-clock2 {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url(../images/icones/clock2.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.icon-dollar {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url(../images/icones/dollar.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.icon-calendar {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url(../images/icones/calendar.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.chevron-up {
    height: 100% !important;
    width: 100% !important;
    background-image: url(../images/icones/chevron-up.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-question {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../images/icones/question.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.img-70 {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.circle {
    border-radius: 50%;
}

main {
    min-height: 50vh;
}

.list--disc {

    list-style: disc;

    li {
        display: list-item;
        font-family: 'Geon Light';
        letter-spacing: 0.8px;
        font-size: 27px;
        line-height: 25px;

        span {
            font-size: 17px;
        }
    }

}