.btn {
    border-radius: 2px;
    padding: 8px 40px;
    border: none;
    outline: none;
    font-size: 14px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.062);
    text-transform: uppercase;
    @include transition();
    
    &-primary {
        background-color: $color-primary;
        color: #fff !important;
        &.active,
        &:active,
        &:focus,
        &:hover {
            background-color: darken($color-primary, 10) !important;
        }

        &--outline{
            background-color: transparent;
            color: $color-primary !important;
            border: 1px solid $color-primary;

            &:hover, &.active{
                color: #fff !important;
                background-color: $color-primary;
            }
        }
    }

    &-white {
        background-color: #fff;
        color: $color-primary !important;
        &.active,
        &:active,
        &:focus,
        &:hover {
            background-color: darken(#fff, 10) !important;
        }

        &--outline{
            background-color: transparent;
            color: #fff !important;
            border: 1px solid #fff;

            &:hover, &.active{
                color: $color-primary !important;
                background-color: #fff;
            }
        }
    }
    
    &-outline-primary {
        border: 1.3px solid $color-primary;
        color: $color-primary !important;
        &:hover {
            background-color: $color-primary;
            color: #fff !important;
            border-color: $color-primary;
        }

    }

    &.btn-sm {
        @include scale(0.9);
    }

    &.btn-lg{
        padding: 20px 30px;
        font-size: 20px;
        font-family: 'Geon Bold';

        @media screen and (max-width: $bp-MD){
            font-size: 18px;
            padding: 15px 20px;
        }

        @media screen and (max-width: 350px){
            font-size: 15px;
            padding: 15px 10px;
        }
    }

    &.btn-md{
        padding: 10px 35px;
        font-size: 18px;
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
        outline: none;
    }
}

.btn-icon {
    padding: 5px;
    background: none;
    border: none;
    color: rgb(172, 172, 172);
    @include transition();

    .icon {
        font-size: 19px;
    }
    
    &:hover {
        color: rgb(124, 124, 124);
    }
    
    &.active,
    &:active,
    &:focus {
        border: none;
        outline: none;
    }
}
