.btn {
    border-radius: 12px;
    padding: 8px 40px;
    border: none;
    outline: none;
    font-size: 14px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.062);

    &-primary {
        background-color: $color-primary;
        color: #fff !important;
        &.active,
        &:active,
        &:focus,
        &:hover {
            background-color: darken($color-primary, 10) !important;
        }
    }
    &-secondary,
    &.active,
    &:active,
    &:focus {
        background-color: $color-secondary;
        color: #fff !important;
        &:hover {
            background-color: darken($color-secondary, 10);
        }
    }
    &.active,
    &:active,
    &:focus {
        box-shadow: none !important;
    }

    &-dark {
        background-color: #839097;
        &.active,
        &:active,
        &:focus,
        &:hover {
            background-color: #5a6368 !important;
        }
    }

    &-outline-primary {
        border: 1.3px solid $color-primary;
        color: $color-primary !important;
        &:hover {
            background-color: $color-primary;
            color: #fff !important;
            border-color: $color-primary;
        }

    }

    &.btn-sm {
        @include scale(0.9);
    }
}

.btn-icon {
    padding: 5px;
    background: none;
    border: none;
    color: rgb(172, 172, 172);
    @include transition();

    .icon {
        font-size: 19px;
    }
    
    &:hover {
        color: rgb(124, 124, 124);
    }
    
    &.active,
    &:active,
    &:focus {
        border: none;
        outline: none;
    }
}
