.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    
    ul{
        padding-left: 0;
        li{
            display: inline-block;
            padding: 0 1px;

            a{
                color: #4e335d;
                font-size: 17px;
                @include transition();

                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
}