.page-nav{
    background-color: #f7f7f7;
    width: 100%;
    padding: 20px 0 24px 0;

    &__list{
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: $bp-LG){
            flex-direction: column;
            text-align: center;
        }

        &__item{
            position: relative;
            padding: 10px 20px;
            font-size: 18px;
            color: #442452;

            @media screen and (max-width: $bp-LG){
                padding: 15px 0;
            }

            @media screen and (min-width: $bp-LG) {
                &:after {
                    content: '';
                    position: absolute;
                    height: 28px;
                    width: 90%;
                    background-color: #442452;
                    opacity: 0;
                    left: 48%;
                    transform: translateX(-50%);
                    bottom: -24px;
                    @include transition();
                }

                &.active {
                    font-family: 'Geon Black';

                    &:after {
                        opacity: 1;
                    }
                }

                &:hover {
                    &:after {
                        opacity: .6;
                    }
                }
            }

            a{
                color: inherit;
            }
        }
    }
}